/target
gstreamer-android
gstreamer-android-runtime
gstreamer-android.tar.xz
gstreamer-android-runtime.tar.xz
x86
x86_64
arm64-v8a
armeabi-v7a
armv7
arm64
res/android/gstreamer
res/android/libs
AppDir/
deb/
*.AppImage
*.deb
dist/
rpm/